<div>
 {include file="$style_dir/blocks/manage/account_left.html"}
 <div class="account_box">
 {include file="$style_dir/blocks/manage/account_head.html" user=$user}
 
 {if $mode =='manage_cameras'}
  <h2>{lang code='manage_cameras'}</h2>
  
  <!-- ADD NEW camera -->
    <div class="account_form">
    <form method="post" name="edit_profile">
    <fieldset class="fieldset">
    <legend>{lang code='add_new_camera'}</legend>
    
    <div class="account_field_block clearfix">
    <div class="account_field_label" align="right"><strong><label for="old_pass">{lang code='cam_name'}</label></strong></div>
    <div class="account_field"><input name="name" type="text" id="name" style="margin-bottom:10px"></div>
    <div class="account_field_label" align="right"><strong><label for="old_pass">{lang code='des_title'}</label></strong></div>
    <div class="account_field"><input name="describe" type="text" id="describe" style="margin-bottom:10px"></div>
    <div class="account_field_label" align="right"><strong><label for="old_pass">{lang code='cam_address'}</label></strong></div>
    <div class="account_field"><input name="address" type="text" id="address" style="margin-bottom:10px"></div>
    <div class="account_field_label" align="right"><strong><label for="old_pass">{lang code='videouser'}</label></strong></div>
    <div class="account_field"><input name="videouser" type="text" id="videouser" style="margin-bottom:10px"></div>
    <div class="account_field_label" align="right"><strong><label for="old_pass">{lang code='videopass'}</label></strong></div>
    <div class="account_field"><input name="videopass" type="password" id="videopass" style="margin-bottom:10px"></div>
    </div>
	
    <div align="right"><button name="add_camera" id="button" value="submit" class="cb_button_2">{lang code='add_new_camera'}</button></div>

    </fieldset>
    </form>
    </div>
  <!-- Add new camera -->
  
  
  <!-- Getting List of camera -->
  <form name="manage_cameras" method="post">
  
  <input type="submit" class="cb_button_2" value="{lang code='delete_selected'}" style="margin-bottom:10px" name="delete_cameras"/>
  
  <div class="account_table">
   
     <table width="100%" border="0" cellspacing="0" cellpadding="0">
 	  <tr>
 	    <td width="25"><input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/>
 	      </td>
 	    <td>{lang code='title'}</td>
 	    <td width="130">{lang code='des_title'}</td>
 	    <td width="130">{lang code='cam_address'}</td>
 	    <td width="130">{lang code='date_added'}</td>
 	    </tr>
 	  </table>
      
  </div>
  {assign var='bg' value='fff'}
  {section name=plist loop=$cameras}   
    <div class="account_vid_list" style="background-color:#{$bg}">
   	<table width="100%" border="0" cellspacing="0" cellpadding="0">
 	  <tr>
 	    <td width="25"><input type="checkbox" name="check_camera[]" id="check_camera-{$cameras[plist].cam_id}" value="{$cameras[plist].cam_id}" />
 	      <label for="checkbox"></label></td>
 	    <td valign="middle">
        {$cameras[plist].cam_name|truncate:100}<br />
		<span class="video_control"><a href="watch_camera.php?cam_id={$cameras[plist].cam_id}">{lang code='view'}</a> - <a href="?mode=edit_camera&amp;pid={$cameras[plist].cam_id}">{lang code='edit'}</a> - <a href="javascript:void(0)"  onmousedown="delete_video('delete_icon_a','{$cameras[plist].cam_id}','{lang code="remove_camera_confirm"}','?mode=manage_camera&amp;delete_camera={$cameras[plist].cam_id}')" id="delete_icon_a-{$cameras[plist].cam_id}">{lang code='delete'}</a></span></td>
 	     <td width="130">{$cameras[plist].cam_describe|truncate:20}</td>
 	     <td width="130">{$cameras[plist].cam_address|truncate:20}</td>
 	    <td width="130">{$cameras[plist].date_added|date_format}</td>
 	    </tr>
 	  </table>
   </div>
   {if $bg=='fff'}
    {assign var='bg' value='EFF5F8'}
    {else}
    {assign var='bg' value='fff'}
    {/if}
  {/section}
  </form>
  <!-- Getting List of camera -->
 {/if}
 
 {if $mode =='edit_camera'}
 <h2>{lang code='edit_camera}</h2>
 <div class="account_form">
    <form method="post" name="edit_profile">
    <fieldset class="fieldset">
    <legend>{lang code='edit_camera'}</legend>
    
    <div class="account_field_block clearfix">
    <div class="account_field_label" align="right"><strong><label for="old_pass">{lang code='cam_name'}</label></strong></div>
    <div class="account_field"><input name="name" type="text" id="name" style="margin-bottom:10px" value="{$camera.cam_name}"></div>
    <div class="account_field_label" align="right"><strong><label for="old_pass">{lang code='des_title'}</label></strong></div>
    <div class="account_field"><input name="describe" type="text" id="describe" style="margin-bottom:10px" value="{$camera.cam_describe}"></div>
    <div class="account_field_label" align="right"><strong><label for="old_pass">{lang code='cam_address'}</label></strong></div>
    <div class="account_field"><input name="address" type="text" id="address" style="margin-bottom:10px" value="{$camera.cam_address}"></div>
    <div class="account_field_label" align="right"><strong><label for="old_pass">{lang code='videouser'}</label></strong></div>
    <div class="account_field"><input name="videouser" type="text" id="videouser" style="margin-bottom:10px" value="{$camera.videouser}"></div>
    <div class="account_field_label" align="right"><strong><label for="old_pass">{lang code='videopass'}</label></strong></div>
    <div class="account_field"><input name="videopass" type="password" id="videopass" style="margin-bottom:10px" value="{$camera.videopass}"></div>
    </div>
	
    <div align="right"><button name="edit_camera" id="button" value="submit" class="cb_button_2">{lang code='edit_camera'}</button></div>

    </fieldset>
    </form>
 </div>
	

 {/if}
 </div>
</div>
